<div class="header-wrapper">
  <header class="header">
    <div class="header-bottom-block">
      <img class="header__logo"
           src="../../../assets/images/logo.png"
           alt="Julia Ousse Logo">
      <div class="header-title"
           [routerLink]="['/']"
      >
        <h1 class="header-title__brand-name">
          Julia Ousse
        </h1>
        <h2 class="header-title__brand-title">
          MAKEUP & BEAUTY
        </h2>
      </div>
      <div class="header-hamburger">
        <hamburger (onHamburgerClick)="toggleSideBar()"
                   (clickOutside)="closeSideBar()"
                   [clickOutsideCondition]="sideBarOpen$ | async"
                   [active]="sideBarOpen$ | async">
        </hamburger>
      </div>
    </div>
  </header>
  <side-bar [active]="sideBarOpen$ | async">
  </side-bar>
</div>
