@import "mixins";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  @include iphone6() {
    padding-top: 10px;
  }
  &__logo {
    @include iphone7(null, 130px);
    @include iphone6(null, 100px);
    @include iphone5(null, 70px);
  }
  &-title {
    &__brand {
      &-name {
        font-family: 'ShellaheraScriptDemo', sans-serif;
        color: #302a2a;
        font-size: 80px;
        line-height: 60px;
        text-align: center;
        font-weight: normal;
        margin: 0;
        @include iphone7(90px) {
          line-height: 60px;
        };
        @include iphone6(70px) {
          line-height: 50px;
        };
        @include iphone5(50px) {
          line-height: 40px;
        };
      }
      &-title {
        font-family: 'OrkneyLight', sans-serif;
        color: #302a2a;
        text-align: center;
        font-weight: normal;
        margin: 0 0 20px 0;
        @include iphone7(18px);
        @include iphone6(15px);
        @include iphone5(12px) {
          margin-bottom: 10px;
        };
      }
    }
  }
  &-bottom-block {
    width: 100%;
    position: relative;
    .header-hamburger {
      position: absolute;
      bottom: 10px;
      right: 10px;
      @include iphone6(){
        bottom: 15px;
      }
    }
  }
}

