header {

  h1 {
    font-family: 'ShellaheraScriptDemo', sans-serif;
    color: #302a2a;
    font-size: 80px;
  }

  h2 {
    font-family: 'OrkneyLight', sans-serif;
    color: #302a2a;
    font-size: 20px;
  }
}
