@import "colors";
@import "mixins";

.main-about-me {

  padding-bottom: .5rem;

  @include iphone5() {
    padding-bottom: .3rem;
  }

  .description-block {
    text-align: center;
    background: $bar-color;
    padding: 1rem .5rem;
    @include iphone5() {
      padding: .7rem .3rem;
    }
    &__text {
      font-size: 17px;
      line-height: 20px;
      font-family: 'OrkneyLight', sans-serif;
      color: #fff;
      @include iphone6(14px) {
        line-height: 18px;
      }
      @include iphone5(13px) {
        line-height: 17px;
      }
    }
  }

  &-image {
    margin-top: 2rem;
    @include iphone5() {
      margin-top: 1.5rem;
    }
  }

  &-quote {
    font-family: 'Allura', cursive;
    &__text {
      margin: 1rem 0 0;
      padding: 0 1rem;
      font-weight: 400;
      font-size: 26px;
      @include iphone6(24px) {}
      @include iphone5(20px) {
        margin: .7rem 0 0;
      }
    }
    &__name {
      margin: 0;
      font-weight: 400;
      @include iphone7(28px){}
      font-size: 26px;
      text-align: center;
    }
  }

  &-button {
    margin: 1rem;
    display: flex;
    justify-content: center;
    @include iphone5(){
      margin: .5rem;
    }
  }

}
