<section class="main-about-me">
  <div class="description-block">
    <p class="description-block__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua.
    </p>
  </div>
  <div class="main-about-me-image">
    <img src="../../../assets/images/main-image-2.png"
         width="100%"
         alt="Julia Ousse Working process image"/>
  </div>
  <div class="main-about-me-quote">
    <h3 class="main-about-me-quote__text">
      «Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat.»
    </h3>
    <h3 class="main-about-me-quote__name">
      Julia Ousse
    </h3>
  </div>
  <div class="main-about-me-button">
    <button-link>
      ОБО МНЕ
    </button-link>
  </div>
     </section>
