<section class="main-about-me">
  <div class="description-block">
    <p class="description-block__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua.
    </p>
  </div>
  <div class="main-about-me-image">
    <img src="../../../assets/images/main-image-about-me.jpg"
         width="100%"
         alt="Julia Ousse Working process image"/>
  </div>
  <div class="main-about-me-quote">
    <h3 class="main-about-me-quote__text">
      «Быть разной, быть собой - это вопрос того, в чьих руках находится твой образ.
      Если ты доверяешь свою укладку и макияж профессионалу, ты будешь выглядеть на все
      100%, знать, что макияж будет стойким и естественным в самые неожиданные моменты»
    </h3>
    <h3 class="main-about-me-quote__name">
      Julia Ousse
    </h3>
  </div>
  <div class="main-about-me-button">
    <button-link>
      ОБО МНЕ
    </button-link>
  </div>
 </section>
