<!DOCTYPE html>
<html lang="en">
<head>
    <title>Julia Ousse Makeup</title>
    <<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
    <main class="main">

        <section class="main-section">
            <div class="container">
                <div class="row">
                    <div class="col s8 m8">
                        <div class="card hoverable">
                            <img src="../public/julia_ousse_picture.jpg" alt="Julia Ousse Picture">
                        </div>
                        <!-- /.card hoverable -->
                    </div>
                    <!-- /.col s12 m12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.main-section -->
    </main>
    <!-- /.main -->
</body>
</html>