@import "colors";
@import "shadows";

.app-footer {
  //display: block;
  //position: fixed;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //background: $bar-color;
  background-image: linear-gradient(to right, #221e1e, #292424, #302a2a, #373030, #3e3636);
  .footer-social-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    a {
      margin: .5rem .5rem;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: $elevation-2;
      border-radius: 50%;
    }
  }
  .footer-copyright {
    padding: .5rem;
    * {
      margin: 0;
      font-weight: 100;
      font-size: 11px;
      text-align: center;
      font-family: 'OrkneyLight', sans-serif;
      color: #fff;
    }
  }
}
