<footer class="app-footer">
  <div class="footer-social-icons">
    <a href="https://www.instagram.com/julia_ousse/"
       target="_blank">
      <img class="side-bar-social-icons__item"
           src="../assets/images/instagram-logo.png"
           alt="Instagram logo"
           width="20px">
    </a>
    <a href="https://www.facebook.com/julia.ousse"
       target="_blank">
      <img class="side-bar-social-icons__item"
           src="../assets/images/facebook-icon.png"
           alt="Facebook logo"
           width="20px">
    </a>
    <a href="https://www.youtube.com/channel/UC9KrFyiMJzFuyw8HfKTSugg"
       target="_blank">
      <img class="side-bar-social-icons__item"
           src="../assets/images/youtube-logo.png"
           alt="Youtube logo"
           width="20px">
    </a>
  </div>
  <div class="footer-copyright">
    <h4>JULIA OUSSE | MAKEUP & BEAUTY 2017</h4>
  </div>
</footer>
