@import "colors";
@import "animations";
@import "mixins";

.button-link {

  &__item {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: $bar-color;
    transition: $all-ease-in-out;
    @include no-user-select();
    font-family: 'CenturyGothic', sans-serif;
    font-size: 30px;
    padding: .5rem 2rem;

    &:hover, &:focus, &:active {
      background: darken($bar-color, 15%);
    }
  }

}
