//Transitions
@mixin all-cubic-bezier($sec){
  transition: all $sec cubic-bezier(.25,.8,.25,1);
}

$linear: all .10s linear;
$all-ease-in-out: all 0.15s ease-in-out;
$bg-color-transition: background-color 0.1s linear;

//Animations
@mixin rotate(){
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin strokeDashArray(){
  @keyframes strokeDashArray {
    from {
      stroke-dasharray: 2.3525em 0.4705em;
      stroke-dashoffset: 0;
    }
    10% {
      stroke-dasharray: 2.3525em 0.4705em;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 0.001em 2.825em;
      stroke-dashoffset: -2.826em;
    }
    60% {
      stroke-dasharray: 0.001em 2.825em;
    }
    to {
      stroke-dasharray: 2.3525em 0.4705em;
      stroke-dashoffset: -2.826em;
    }
  }
}
