@import "screens";

@mixin screen-props-mixin($fontSize, $width, $height) {
  width: $width;
  height: $height;
  font-size: $fontSize;
}

@mixin mediaMaxWidthMixin($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin mediaMinWidthMixin($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin iphone7($fontSize: null, $width: null, $height: null) {
  @include mediaMaxWidthMixin(map-get($iphone7, width)) {
    @include screen-props-mixin($fontSize, $width, $height);
    @content;
  }
}

@mixin iphone6($fontSize: null, $width: null, $height: null) {
  @include mediaMaxWidthMixin(map-get($iphone6, width)) {
    @include screen-props-mixin($fontSize, $width, $height);
    @content;
  }
}

@mixin iphone5($fontSize: null, $width: null, $height: null) {
  @include mediaMaxWidthMixin(map-get($iphone5, width)) {
    @include screen-props-mixin($fontSize, $width, $height);
    @content;
  }
}

@mixin no-user-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;/*IE*/
  outline: none;
}

@mixin gradient() {
  background-image: linear-gradient(to right, #221e1e, #292424, #302a2a, #373030, #3e3636);
}
