<section class="main-portfolio">
  <div class="main-portfolio-header">
    <p class="main-portfolio-header__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua.
    </p>
  </div>
  <div class="main-portfolio-image">
    <img src="../assets/images/main-image-portfolio.jpg"
         width="100%"
         alt="Main Image Portfolio">
  </div>
  <div class="main-portfolio-anchor">
    <button-link>
      ПОРТФОЛИО
    </button-link>
  </div>
</section>
